<legend>Biodata</legend>

<div class="form-group row">
	<label class="col-md-2 col-form-label">Nama</label>
	<div class="col-md-10">
		<input class="form-control" data-bind="textInput: inputData.name">
	</div>
</div>

<div class="form-group row">
	<label class="col-md-2 col-form-label">Telp.</label>
	<div class="col-md-4">
		<input class="form-control" data-bind="textInput: inputData.phone">
	</div>
	<label class="col-md-2 col-form-label">Fax</label>
	<div class="col-md-4">
		<input class="form-control" data-bind="textInput: inputData.fax">
	</div>
</div>

<div class="form-group row">
	<label class="col-md-2 col-form-label">Email</label>
	<div class="col-md-10">
		<input class="form-control" data-bind="textInput: inputData.email">
	</div>
</div>

<div class="form-group row">
	<label class="col-md-2 col-form-label">Alamat</label>
	<div class="col-md-10">
		<textarea class="form-control" data-bind="textInput: inputData.bill_address"></textarea>
	</div>
</div>

<div class="form-group row">
	<label class="col-md-2 col-form-label">Catatan</label>
	<div class="col-md-10">
		<textarea class="form-control" data-bind="textInput: inputData.notes"></textarea>
	</div>
</div>

<legend class="mt-5">Informasi Pajak</legend>

<div class="form-group row">
	<label class="col-md-2 col-form-label">NPWP</label>
	<div class="col-md-10">
		<input class="form-control" data-bind="textInput: inputData.npwp">
	</div>
</div>

<div class="form-group row">
	<label class="col-md-2 col-form-label">Nama</label>
	<div class="col-md-10">
		<input class="form-control" data-bind="textInput: inputData.tax_name">
	</div>
</div>

<div class="form-group row">
	<label class="col-md-2 col-form-label">NIK</label>
	<div class="col-md-10">
		<input class="form-control" data-bind="textInput: inputData.nik">
	</div>
</div>

<div class="form-group row">
	<label class="col-md-2 col-form-label">Alamat</label>
	<div class="col-md-10">
		<textarea class="form-control" data-bind="textInput: inputData.tax_address"></textarea>
	</div>
</div>