<p>{{{message}}}</p>

<div class="row">
	<div class="col-md-4">
		<a href="/sales-invoice-list" class="btn btn-block btn-outline-secondary main-button">
			<i class="fa fa-shopping-cart fa-5x"></i>
			<h1 class="mt-3">Penjualan</h1>
			<p class="main-button-text">Input Penjualan Baru dan Terima pembayaran</p>
		</a>
	</div>
	<div class="col-md-4">
		<a href="/item-list" class="btn btn-block btn-outline-secondary main-button">
			<i class="fa fa-cubes fa-5x"></i>
			<h1 class="mt-3">Barang</h1>
			<p class="main-button-text">Daftarkan Barang Baru dan lihat daftar barang yang tersedia</p>
		</a>
	</div>
	<div class="col-md-4">
		<a href="/report-dashboard" class="btn btn-block btn-outline-secondary main-button">
			<i class="fa fa-line-chart fa-5x"></i>
			<h1 class="mt-3">Laporan</h1>
			<p class="main-button-text">Laporan dan Analisa usaha</p>
		</a>
	</div>
</div>