.sjp-nav {
    padding: .5rem 1rem;
}

.main-button {
    height: 15rem;
}

.main-button-text {
    white-space: pre-wrap
}

.text-pre-wrap {
    white-space: pre-wrap;
}

a.form-control, label.form-control, p.form-control {
    background-color: #e9ecef;
    opacity: 1;
}